<template>
  <div>
    <button @click="increment">{{ text }}</button>
  </div>
</template>

<script>
export default {
  name: 'dummyButton',
  data () {
    return {
      count: 0
    }
  },
  computed: {
    times () {
      return this.count === 1
        ? 'time'
        : 'times'
    },
    text () {
      return `I have been clicked ${this.count} ${this.times}`
    }
  },
  methods: {
    increment () {
      this.count += 1
    }
  }
}
</script>

<style scoped>
  button {
    background: unset;
    border: 1px solid lightgrey;
    padding: 8px;
  }
</style>